# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
### Above combination will ignore all files without extension ###

# Ignore third party dependencies
third-party/

# Ignore demo files
demo/

# Ignore .d files
*.d

# Ignore .o files
*.o


# Unignore Makefile
!Makefile

# Ignore .vscode
.vscode

# Ignore markdownlint
.markdownlint.json

/example-game

# Ignore /src/w.c and /src/w.h
/src/w.c
/src/w.h
/src/test.mp4

/src/test.c